// Define variables for your color scheme

// PitStop colours added by Ed
$body: #16141E;
$navbar-side: #336C88;


// default variable below.
$red: #FD1015;
$blue: #59A5D8;
$yellow: #F7B32B;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F3F3F3;

$text-color: #181832;
$black-russian: #101034;

$light-blue: #B1DDF1;
$lucky-point: #21295C;

$dark-red: #890002;
$bright-red: #890002;

$battleship-gray: #545C52;
$quicksand: #C49991;
$alto: #CEC3C1;
$dark-gray: #E3E3E3;


// From Modal Colors
$pit-body-bg: #16141E;
$pit-background:  #1F1E27;
$pit-blue: #B1DDF1;
$pit-munsell: #528aa0;
$pit-gray: rgba(255,255,255,0.87);

$box-shadow: rgba(24, 24, 50,0.2);

