@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Special+Elite&display=swap');

$body-font: 'Open Sans', sans-serif;
$headers-font: 'Poppins', sans-serif;
$brand-font: 'Special Elite', cursive;
$poster-head-font: 'Blackout 2am', 'Special Elite', cursive;

// fonts
.text-gradient {
  background: -webkit-linear-gradient(#B1DDF1, #528aa0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// show cards header


// SHOUTOUTS Style
.page-main-text {
  @extend %page-header;
  font-family: $headers-font;
  color: $pit-gray;
}

// @extend %name;
%page-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.6;
  letter-spacing: 1px;
}

%card-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}

%card-subheader {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

%card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
}

%bt-text {

  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

