// @include name;
@mixin margin-fixed($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}

@mixin margin-xl {
  margin: 64px 0 64px 0;
}

@mixin margin-lg {
  margin: 32px 0 32px 0;
}

@mixin margin-md {
  margin: 16px 0 16px 0;
}

@mixin margin-sm {
  margin: 8px 0 8px 0;
}

@mixin pit-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}