// Specific CSS for your home-page

.homepage-card-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem, ;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #181832;
  text-align: center;

}

.homepage {
  background-color: red;
}

//main {
//  margin-right: 5rem;
//  padding: 1rem;
//}

