// Page container
body {
  background: $pit-body-bg;
}
// Margin classes
.margin-32 {
  margin: 32px;
}
.margin-16 {
  margin: 16px
}
.margin-8 {
  margin: 8px;
}

.room-link-back{
  width: 100vw;
}
//? move to room
.show-user-info{
  padding: 32px;
  width: 100%;
  border-radius: 6px;
  box-shadow: 2px 2px 16px $box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: $pit-background;
}

// Card Header Style
.card-header{
	text-align: center;
	padding: 8px;
  background: $pit-background;
  color: $pit-gray;
	@extend %card-header;
  font-family: $headers-font;
}

.user-info-main-photo {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  img {
    width: 100%;
    border-radius: 6px;
  }
}
// bottom card styling
.band-description-container{
  border-radius: 6px;
  background-color: $pit-background;
  box-shadow: 2px 2px 16px $box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  hr {
    height: 1px;
    border: none;
    border-bottom: 1px solid $pit-gray;
    width: 30%;
    margin: 8px auto;
  }
}
.user-description {
 @extend %card-text;
 padding: 16px;
 color: $pit-gray;
 font-family: $body-font;
}

// social media style
.sm-icons {
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 16px;
  position: relative;
  margin: 0;
  position: relative;
}




