<div class="modal" tabindex="-1" role="dialog" id="room_settings">
	<div class="modal-dialog" role="document">
		<div class="modal-content form-bg">
			<div class="modal-header">
				<h5 class="modal-title">Room Settings</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
					id="button-user-settings"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="pit-settings-list">
          <button
          type="button"
					class="setting-button"
          id="settings-edit"
          data-toggle="modal"
          data-target="#editModal"
        >
        Edit Room
        </button>
				<button
        type="button"
				class="setting-button"
				id="settings-socials"
        data-toggle="modal"
        data-target="#form_socials">
          Add Social Media
        </button>
					<button
					type="button"
					class="setting-button"
					id="settings-photos"
					data-toggle="modal"
					data-target="#addPhotosModal"
					>
					Add Photos
					</button>

					<%= link_to room_path(@room), method: :delete, data: { confirm: "Are you sure?" }, id: 'btn-bin' do %>
						<span class="delete-text">Dissolve Room</span>
					<% end %>
      
				</div>
			</div>
		</div>
	</div>
</div>
