
<% content_for(:navbar_class, "navbar-home") %>


<div class="homepage">

  <div class="banner">
    <div class="banner-content">

      <h1 class="animated-logo"><span class='one'>P</span><span class='two'>i</span><span class='three'>t</span><span class='four'>S</span><span class='five'>t</span><span class='six'>o</span><span class='seven'>p</span></h1>
        <div class="homepage-banner-container">
          <%= form_tag rooms_path, method: :get, class: "nav-search-box home-search-box" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control search-form",
                placeholder: "Find a Pit Stop"
                %>
            <% end %>

            <h1>Couch surfing for bands on tour</h1>
            <p>A completely free service to support all arts</p>
            <p>We connect the fans with the bands</p>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
  </div>
  <div class="homepage-card-container">
    <div class="homepage-card">
        <h4>Support your scene by hosting artists</h4>
        <hr>
        <div class="home-card-description">
          <p>Become a host and be a part of an unique artist community.</p>
          <%= link_to "/rooms/new", { class: "codepen-btn draw-border", id: "add-room-btn"} do %>
          Add PitStop
       <% end %>
        </div>
    </div>
    <div class="homepage-card">
      <h4>Spend time with your favorite band</h4>
      <hr>
      <p>Make use of that extra futon and help out an artist in need.</p>
      <div class="homepage-icon">
        <i class="fas fa-icons"></i>
      </div>
      <br>
    </div>
    <div class="homepage-card">
        <h4>The best things in life are free</h4>
        <hr>
        <div class="home-card-description">
          <p>Our hosts don't believe in cash. Thank them by bringing them to your gig!</p>
          <%= link_to "/bands/new", { class: "codepen-btn draw-border", id: "add-band-btn"} do %>
             Add Band
          <% end %>
        </div>
    </div>
  </div>
</main>

