
<% content_for(:navbar_class, "navbar-home") %>

<main>
  <div class="banner">
    <div class="banner-content">
        <h1>Couch surfing for bands on tour</h1>
        <p>Pit Stop connects music fans with bands.</p>

        <%= form_tag rooms_path, method: :get, class: "nav-search-box" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a Pit Stop"
              %>
          <% end %>
    </div>
  </div>
  <div class="homepage-card-container">
      <div class="homepage-card">
        <div class="container">
          <h4><b>Find a host</b></h4>
          <p>Search our network of hosts near your upcoming gig venues.</p>
        </div>
      </div>
      <div class="homepage-card">
        <div class="container">
          <h4><b>Support your scene</b></h4>
          <p>Become a host and help out bands touring near you.</p>
        </div>
      </div>
      <div class="homepage-card">
        <div class="container">
          <h4><b>Find a host</b></h4>
          <p>Search our network of hosts near your upcoming gig venues.</p>
        </div>
      </div>
  </div>
</main>

