<%= simple_form_for [@band, @band_review] do |f| %>
  <div class="fg-form">
    <%= f.input :content, placeholder:"What would you like to say about this band?", required: true %>
    <%= f.button :submit, { class: "cta-btn", value: "Post Shoutout" } %>
  </div>
<% end %>