
<div class="signup-container">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-6 col-lg-3">
      <div class="container">
        <div class="body-page">
          <h1>Add Room</h1>

          <%= render 'form' %>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
