.book-btn {
  &,
  &:link,
  &:visited{
      font-size: 16px;
      font-family: $body-font;
      text-transform: uppercase;
      text-decoration: none;
      padding: 8px 16px;
      display: inline-block;
      border-radius: 32px;
      transition: all .2s;
      position: relative;
      border: none;
      cursor: pointer;
      color: $blue;
      background: none;
      border: 1px solid $blue;
      margin: 32px auto;
  }

  &:hover {
      transform: translateY(-3px);
      box-shadow: 2px 5px 10px rgba(177,221,241, 0.2);
      color: $pit-background;
      background: $blue;
 
      border: 1px solid $blue;
      &::after{
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  }
  
  &:active,
  &:focus {
      outline: none;
      transform: translateY(3px);
      box-shadow: 2px 5px 10px rgba($blue, 0.2);
  }
  &::after{
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 32px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }
}

// Calendar icon 
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: $pit-gray;
    filter: invert(0.8);
  }
  