
.btn {
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.nav-bar-button {
  color: $light-gray;
  padding: 10px;
  font-family: $body-font;
  a:hover {
    color: white;
  }
}

.custom-btn {
  padding: 5px;
}

.btn-spacing {
  display: flex;
  align-items: center;
}
