
.btn {
  color: white;
  border-radius: 10px;
  font-weight: bold;
}


// Add Review Button Show Page
#add-review-btn {
  font-size: 16px;
  padding: 8px 16px;
  font-family: $body-font;
  text-align: center;
  border-radius: 16px;
  border: 1px solid $blue;
  background: none;
  color: $blue;
  &:hover {
    font-size: 16px;
    padding: 8px 16px;
    text-align: center;
    border-radius: 16px;
    border: 1px solid ;
    background: $pit-blue;
    color: $pit-background;
    box-shadow: 2px 2px 16px $box-shadow;
    transform: translateY(-2px);
  }
}
// setting btn
#btn-plus {
  font-size: 16px;
  text-align: center;
  border-radius: 100%;
  border: none;
  background: none;
  color: $blue;
}

#btn-bin {
  font-size: 16px;
  text-align: center;
  border-radius: 100%;
  border: none;
  background: none;
  
  &:hover {
    color: $red;
  }
}
// Booking Button
// #booking-btn {
//   font-size: 24px;
//   color: $blue;
//   border: 1px solid $blue;
//   background: none;
//   &:hover {
//     font-size: 24px;
//     color: black;
//     border: 1px solid $blue;
//     background: $blue;
//   }
// }

.nav-bar-button {
  color: $light-gray;
  padding: 10px;
  font-family: $body-font;
  a:hover {
    color: white;
  }
}

.custom-btn {
  padding: 5px;
}

.btn-spacing {
  display: flex;
  align-items: center;
}

.booking-btn-green-hover {
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: #46A833;
  }
}

.booking-btn-red-hover {
  font-size: 20px;

  &:hover {
    text-decoration: none;
    color: #ED303A;
  }
}


.booking-chat-btn {
  background-color: $pit-munsell;
  color: $pit-gray;
  text-align: center;
  width: 72px;
  padding: 8px;
  border-radius: 5px;

  &:hover {
  text-decoration: none;
  color: $pit-background;
  background-color: $light-blue;
  }
}
  
