.flexbox-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 16px;
}
.flexbox-left {
  width: 40%;
  height: 100vh;
}

.index-container {
  h1 {
    font-family: $headers-font;
  }
}
.card-main-photo {
  width: 40%;
  height: 100%;
}
.card-image {
    width: 300px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
  }
.index-card-info {
  display:flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 8px;
  }
}


#card-title {
  color: $pit-gray;
  @extend %card-subheader;
}
#index-card-descriptions {
  @extend %card-text;
}
#text-muted {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #5c635b;
  position: absolute;
  bottom: 8px;
  display: block;
}
.card-link {
  display: block; 
  a {
    font-size: 14px;
    text-decoration: none;
    color: $pit-munsell;
    padding: 7px 14px;
    border-radius: 16px;
    border: 1px solid $pit-munsell;
    margin-bottom: 8px;
    &:hover {
      color: $pit-background;
      background: $pit-munsell;

      border-radius: 16px;
      border: 1px solid $pit-munsell;
    }
  }
}

.index-card {
 display: flex;
 justify-content: space-between;
 background-color: $pit-body-bg;
 padding: 10px;
 border-radius: 6px;
 margin-top: 16px;
 width: 100%;
 border: none;
 border-bottom: solid 2px $pit-background;
 border-bottom: solid 2px $pit-background;
 }



.index-content-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
 }

 .homepage-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  background-color: #1F1E27;
  margin: 32px 32px 32px 32px;
  border-radius: 6px;
  height: 300px;
  position: relative;
  h4 {
    padding: 32px 32px 8px 32px;
    font-weight: 600;
    line-height: 1.4;
    font-family: $headers-font;
    font-size: 20px;
    color: $pit-gray;
  }
  hr {
    margin: 0 auto;
    color: $pit-gray;
    width: 60%;
    border: none;
    border-bottom: 1px solid $pit-gray;
  }
  p {
    font-family: $body-font;
    color: $pit-gray;
    font-size: 16px;
    padding: 32px 32px 8px 32px;
  }
  a {
    position: absolute;
    bottom: 16px;
    align-self: center;
  }
}
.home-card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.bookings-card {
  display: flex;
  flex-direction: column;
  background-color: #1F1E27;
  padding: 16px 20px;
  border-radius: 20px;
  margin: 32px auto;
  max-width: 1200px;
  h2 {
    margin-bottom: 16px;
  }
}
