.lexbox-right {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.flexbox-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.index-container {
  h1 {
    font-family: $headers-font;
  }
}
.card-main-photo {
  width: 260px;
  height: 260px;
  margin-left:16px;
}
.card-image {
    width: 260px;
    height: 260px;
    border-radius: 6px;
    object-fit: cover;
  }

#card-title {
  color: $pit-gray;
  @extend %card-subheader;
}
#index-card-descriptions {
  @extend %card-text;
}
#text-muted {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #5c635b;
}
.card-link {
  display: block;
  margin: 16px auto;
  a {
    font-size: 14px;
    text-decoration: none;
    color: $pit-munsell;
    padding: 7px 14px;
    border-radius: 16px;
    border: 1px solid $pit-munsell;
    margin-bottom: 8px;
    &:hover {
      color: $pit-gray;
      background: $pit-munsell;

      border-radius: 16px;
      border: 1px solid $pit-munsell;
    }
  }
}

.index-card {
 display: flex;
 justify-content: space-between;
 background-color: #1F1E27;
 padding: 10px;
 border-radius: 6px;
 // margin-top: 8px;
 margin-bottom: 16px;
 width: 100%;
 }

.index-card-body {
  text-align: center;
  width: 100%;

}

.index-content-container {
  display: flex;
  justify-content: space-evenly;
  margin: 32px;
 }

.homepage-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  margin: 0 1rem 0 1rem;
  background-color: #1F1E27;

  p {
    font-family: $body-font;
    display: flex;
    text-align: center;
    color: white;
  }

  b {
    margin-top: 1rem;
    font-family: $headers-font;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: white;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.bookings-card {
  display: flex;
  flex-direction: column;
  background-color: #1F1E27;
  padding: 16px 20px;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 1200px;
  h2 {
    margin-bottom: 16px;
  }
}
