.flexbox {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;

}

.index-container {
  h1 {
    margin-left: 24px;
  }
}

.card-image {
    width: 64%;
    height: 100%;
    border-radius: 20%;

  }

.index-card {
 display: flex;
 justify-content: space-between;
 background-color: white;
 padding: 10px;
 border-radius: 20px;
 margin-top: 8px;
 margin-bottom: 8px;
 width: 640px;
 height: 280px;
 }

.index-card-body {
  text-align: center;
  width: 100%;

}

.index-content-container {
  display: flex;
  justify-content: space-evenly;

 }

.homepage-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  margin: 0 1rem 0 1rem;
  p {
    font-family: $body-font;
    display: flex;
    text-align: center;
  }

  b {
    margin-top: 1rem;
    font-family: $headers-font;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
