.mapboxgl-popup {
  max-width: 100vh;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  min-width: 100%;
  height: 100vh;
  position: sticky;
  top: 32px;
  border-radius: 6px;
}
