.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  min-width: 100%;
  position: sticky;
  top: 32px;
  border-radius: 6px;
}
