.modal-backdrop {
  width: 100vw;
  height: 100vh;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	background-color: $pit-body-bg;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  border-radius: 6px;
  border: 1px solid $pit-gray;
  box-shadow: 2px 2px 16px $box-shadow;
  background: $pit-background;
  color: $pit-gray;
  h5 {
    @extend %page-header;
    font-family: $headers-font;
  }
  button {
    color: $pit-gray;
    &:hover {
      color: $pit-munsell;
    }
  }
}


.pit-settings-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.modal-dialog {
  max-width: 500px;
  margin: 160px auto;
 }
// Modal Delete Link
.modal-delete-link {
  width: 100%;
  text-align: center;
}
.delete-text{
  margin-top: 16px;
  color: $pit-munsell;
  @extend %card-subheader;
  border: none;
  background: none;
  padding-top: 16px;
  text-decoration: none;
  &:hover {
    border: none;
    color: $red;
  }
}


.setting-button {
  color: $pit-blue;
  @extend %card-subheader;
  border: none;
  background: none;
  cursor: pointer;
  &:hover{
    color: $pit-munsell;
  }
}
