.modal-backdrop {
  width: 100vw;
  height: 100vh;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	background-color: $pit-gray;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  border-radius: 6px;
  border: 1px solid $pit-gray;
  box-shadow: 2px 2px 16px $box-shadow;
  background: $pit-background;
  color: $pit-gray;
  h5 {
    @extend %page-header;
    font-family: $headers-font;
  }
  button {
    color: $pit-gray;
    &:hover {
      color: $pit-munsell;
    }
  }
}


.pit-settings-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}


.delete-text{
  color: $bright-red;
  @extend %card-subheader;
  border: none;
  background: none;
  padding-top: 16px;
  &:hover {
    border: none;
    color: $dark-red;
  }
}


.setting-button {
  color: $pit-blue;
  @extend %card-subheader;
  border: none;
  background: none;
  cursor: pointer;
  padding-top: 16px;
  &:hover{
    color: $pit-munsell;
  }
}
