.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-search-box {
  display: flex;
}

.navbar-left {
  display: flex;
  align-items: center;
}

#add-room-btn {
  border-radius: 5px;
}

#add-band-btn {
  border-radius: 5px;
}

.navbar-right .nav-item {
  margin-left: 4px;
}
