.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
   a {
    color: white !important;
    font-weight: bold;
   }
}

.logo {
  color: #B1DDF1;
  font-size: 64px;
  font-family: $brand-font;
}

.nav-search-box {
  display: flex;
}

.navbar-left {
  display: flex;
  align-items: center;
}

#add-room-btn {
  border-radius: 5px;
}

#add-band-btn {
  border-radius: 5px;
}

.navbar-right .nav-item {
  margin-left: 4px;

}
