.navbar-lewagon {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-link-right {
  text-decoration: none;
  color: $pit-gray;
  &:hover {
    text-decoration: none;
    color: $pit-gray;
  }
}
/////////////

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-home {
  justify-content: space-between;
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;

   a {
    color: $pit-gray !important;
    font-weight: bold;
  }
}

.logo {
  color: #B1DDF1;
  font-size: 64px;
  font-family: $brand-font;
}

.nav-search-box {
  display: flex;
}

.navbar-left {
  display: flex;
  align-items: center;
}

#add-room-btn {
  border-radius: 5px;
}

#add-band-btn {
  border-radius: 5px;
}

.navbar-right .nav-item {
  margin-left: 4px;
}

