.navbar-lewagon {
  justify-content: space-between;
  background: #1F1E27;
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}


.navbar-home {
  margin-top: 10px;
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
  max-height: 100px;
   a {
    color: white !important;
    font-weight: bold;
   }
}

.navbar {
  .nav-search-box {
    flex-grow: 1;
    max-width: 500px;

    .nav-search {
      border-radius: 6px;
      box-shadow: 2px 2px 16px $box-shadow;
    }
  }
}

.navbar-left {
  display: flex;
  align-items: center;
}

#add-room-btn {
  border-radius: 5px;
}

#add-band-btn {
  border-radius: 5px;
}

.navbar-right .nav-item {
  margin-left: 4px;

}


.navbar-dark-logo {
  box-shadow: none;
  position: absolute;
  width: 100%;
   a {
    color: black;
    font-weight: bold;
   }
   .logo {
  color: black;
  font-size: 64px;
  font-family: $brand-font;
  }
}

.drop-menu {
  background-color: #16141E;
  a {
    font-weight: lighter;
    color: white;
  }
}

