.poster-box {
  width: 100%;
  height: 93%;
  background: $pit-background;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 2px 2px 16px $box-shadow;
  margin: 32px;
}


.poster-gig {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.poster-title {
  font-family: $brand-font;
  font-size: 40px;
  color: $pit-gray;
  margin: 32px auto;
}

.poster-date {
  font-family: $headers-font;
  @extend %card-text;
  color: $pit-gray;
  margin-bottom: 8px;
}

.poster-location {
  font-family: $headers-font;
  @extend %card-subheader;
  color: $pit-gray;
  margin-bottom: 8px;
}

.hr-poster {
  margin: 0;
  border: none;
  border-bottom: 1px solid $pit-gray;
  width: 30%;
}

.room-poster {
  background-color: #41B286;
  color: rgb(14, 13, 13);
  font-family: $brand-font;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  
  .poster-top {
    overflow: auto;
    height: 15%;
    font-weight: bolder;
    font-size: 56px;
    font-family: $poster-head-font;

    p {
      margin-bottom: 0;
    }
  }
  
  .poster-bands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 75%;
    font-weight: bolder;
    font-size: 32px;
    
    p {
      margin-bottom: 0;
    }
  }

  .poster-bottom {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 10%;
    font-weight: bolder;
    font-size: 24px;
  }
}