// Review
.show-review{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 32px;
}
.show-review-header {
  text-align: center;
  margin-bottom: 16px;
}
.review-card {
  min-width: 90%;
  box-shadow: 2px 2px 16px $box-shadow;
  border-radius: 6px;
  margin: 16px 64px;
  padding: 32px;
  position: relative;
  background-color: $pit-background;
  box-shadow: $box-shadow;
  a {
    position: absolute;
    top: 8px;
    right: 16px;
    color: $blue;
    &:hover {
      color: $red;
    }
  }
  // Avatar test iin review
  img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
  }
}
.review-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.review-header {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.review-author {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  color: $pit-gray;
  background-color: $pit-background;
  @extend %card-header;
}

.review-content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 16px auto;
}

.review-text-content {
  display: block;
  text-align: left;
  color: $pit-gray;
  @extend %card-text;
}

