.search-form {
  color: #C2C2C2;
  // border-radius: 50px;
  // border: 1px solid #C2C2C2;
  padding: 15px 25px;
  font-weight: lighter;
  opacity: 0.8;
  background-color: #white;
  max-width: 500px;
  margin-right:auto;
  margin-left:auto;

}

.nav-search-box {
  text-align: center;
}

.search-button {
  background-color: #F7B32B;
  border-radius: 100%;
}

// <i class="fas fa-search"></i>
