.future-bookings-table {
  thead {
    color: #B1DDF1;
  }

  tbody {
    color: rgba(255,255,255,0.87);
  }

  th, td {
    width: 12%;
  }
  
  th:last-child, td:last-child {
    width: 4%;
  }
}

.past-bookings-table {
  thead {
    color: #B1DDF1;
  }

  tbody {
    color: rgba(255,255,255,0.87);
  }

  th, td {
    width: 20%;
  }
}

.future-booking-requests-table {
  thead {
    color: #B1DDF1;
  }

  tbody {
    color: rgba(255,255,255,0.87);
  }

  th, td {
    width: 16%;
  }
}

.past-booking-requests-table {
  thead {
    color: #B1DDF1;
  }

  tbody {
    color: rgba(255,255,255,0.87);
  }

  th, td {
    width: 25%;
  }
}

.confirmation-status-yellow {
  color: #F7B32B;
}

.confirmation-status-green {
  color: #46A833;
}

.confirmation-status-red {
  color: #ED303A;
}

.title-and-key {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    line-height: 1.6;
  }

  .bookings-key {
    display: flex;

    p {
      margin-left: 16px;
    }
  }
}
