$text-color: #181832;
$black-russian: #101034;

$light-blue: #B1DDF1;
$blue: #59A5D8;
$lucky-point: #21295C;

$yellow: #F7B32B;
$dark-red: #890002;
$bright-red: #890002;

$battleship-gray: #545C52;
$quicksand: #C49991;
$alto: #CEC3C1;
$dark-gray: #E3E3E3;
$light-gray: #F3F3F3;


