// Graphical variables
@import "config/colors";
@font-face {
    font-family: 'Blackout 2am';
    src: url('blackout/Blackout-2am.ttf') format('truetype');
}


@font-face {
    font-family: 'Special Elite';
    src: url('special-elite/SpecialElite-Regular.ttf') format('truetype');
}


@import "config/fonts";
@import "config/mixins";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/login";
@import "pages/home";

body {
  color: rgba(255,255,255,0.87);
}
